<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Chatbot Médico</title>
        <link rel="stylesheet" href="/static/styles.css">
    </head>
    <body>
        <div class="chat-container">
            <div class="chat-messages"></div>
            <div class="chat-input">
                <input type="text" class="input-bar"
                    placeholder="Escribe tu mensaje aquí...">
                <button class="send-button">Enviar</button>                                                                      
            </div>
        </div>
        <script src="/static/scripts.js"></script>
    </body>
</html>
